<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-do-list</title>
  <!-- gfont -->

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="nav">
    <div class="nav-bar">
      <h1 style="color: white;">To Do List</h1>
    </div>
  </div>

  <div class="container">
    <form action="/create" method="get">
      <button class="btn">Create</button>
    </form>
    <form action="/view" method="get">
      <button class="btn">View</button>
    </form>
    <form action="/Delete">
      <button class="btn">Delete</button>
    </form>
  </div>
</body>

</html>