<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="create-body">
    <form action="/view" method="post">
    <div class="create-container">
        <div class="create-heading">
            <input type="text" name="title" placeholder="Title" class="create-title">
        </div>
        <div class="create-para">
            <textarea id="notes" name="notes" rows="4" cols="50" class="create-notes"></textarea>
        </div>
        
        <button class="create-btn">Submit</button>
      
    </div>
</form>
</body>
</html>